@import url("https://fonts.googleapis.com/css?family=Quicksand:300,500");

body {
  font-family: 'Quicksand',serif;
  font-weight: bold;
  font-size: 20px;
  
  box-sizing: border-box;
  margin:.25em ;
  padding: .5em .75em;
  text-align: center;
  justify-content: center;
  background-color:rgb(137, 4, 155);
}

.container {
color: #f5eeee;
max-width: width 80%;
border-radius: 5px;
padding: 10px;
}

.h1 {
  color: #000000;
  font-size: 3em;
}
  
.h2 {
font-weight: lighter;
}

.question{
	font-weight: 600;
}
.answers {
    margin-bottom: 20px;
    display:grid;
    text-align: justify;
    justify-content: center;
}
#submit{
	font-size: 20px;
	background-color: rgb(216, 59, 80);
	color: #fff;
  border: 0px;
  border-color:white;
  border-width: medium;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
#submit:hover{
  background: #000000;
  border-color:white;
  border-width: medium;
}

header {
  text-align: center;
}


* {
  margin: 0;
  padding: 0;
}

*,
:before,
:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.wrapper {
  text-align: center;
}
.title {
  font-size: 2em;
  position: relative;
  margin: 0 auto 1em;
  padding: 1em 1em .25em 1em;
  text-align: center;
  text-transform: uppercase;
}
.title:after {
  position: absolute;
  top: 100%;
  left: 50%;
  width: 240px;
  height: 4px;
  margin-left: -120px;
  content: '';
  background-color: #fff;
}

/* Clip text element */
.clip-text {
  font-size: 6em;
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: inline-block;
  margin: .25em;
  padding: .5em .75em;
  text-align: center;
  /* Color fallback */
  color: #fff;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.clip-text:before,
.clip-text:after {
  position: absolute;
  content: '';
}

/* Background */
.clip-text:before {
  z-index: -2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
}

/* Text Background (black zone) */
.clip-text:after {
  position: absolute;
  z-index: -1;
  top: .125em;
  right: .125em;
  bottom: .125em;
  left: .125em;
  background-color: #000;
}

/* Change the background position to display letter when the black zone isn't here */
.clip-text--no-textzone:before {
  background-position: -.75em 0;
}

.clip-text--no-textzone:after {
  content: none;
}

/* Use Background-size cover for photo background and no-repeat background */
.clip-text--cover,
.clip-text--cover:before {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
background-position: 50% 50%;
}


.clip-text_one {
  background-image: url(https://data.whicdn.com/images/301519547/original.jpg?t=1510917179);
  width:80% ;
}