        /* Extra small devices (phones, 600px and down) */
        @media only screen and (max-width: 600px) {}

        /* Small devices (portrait tablets and large phones, 600px and up) */
        @media only screen and (min-width: 600px) {}

        /* Medium devices (landscape tablets, 768px and up) */
        @media only screen and (min-width: 768px) {}

        /* Large devices (laptops/desktops, 992px and up) */
        @media only screen and (min-width: 992px) {
            .container {
                width: 50%;
                margin: 0 auto;
            }
        }

        /* Extra large devices (large laptops and desktops, 1200px and up) */
        @media only screen and (min-width: 1200px) {}

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            background-color: black;
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            line-height: 1.1;
            background-blend-mode: color-dodge;
        }
        .section-1 {
            max-width: 1000px ;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            flex-direction: column;
            align-items: flex-start;
            min-height: 100vh;
            margin: 10px auto;
        }

        .navbar {
         text-align: right;
         display: flex;  
        }

        h1{
            color: white;
            font-size: 70px;
            font-weight: 700;
            margin: 0px 0px 20px 3px;
            box-sizing: inherit;
        }


        h2{
            font-size: 70px;
            font-weight: 700;
            color: saddlebrown;
            display: block;
            margin-block-start: 0.83em;
            margin-block-end: 0.83em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            box-sizing: inherit;
        }


        h3{
            color: white;
            font-size: 70px;
            font-weight: 700;
        }


        .button {
            color: darkslategrey;
            background-color: transparent;
            font: size 14px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            line-height: 1;
            cursor: pointer;
            margin-top: 50px;
            border-width: 1px;
            border-style: groove;
            border-image:initial;
            border-radius: 3px;
            padding: 1.25rem 1.75rem;
            text-decoration:none ;

        }

        a {
        color: white; 
        display: inline-block;
        box-sizing: inherit;
        position: relative;
        }